[submodule "1.Backyard_Flyer"]
	path = 1.Backyard_Flyer
	url = https://github.com/Ashutosh-Badave/1.Backyard_Flyer.git
[submodule "2.UAV_Motion_Planning"]
	path = 2.UAV_Motion_Planning
	url = https://github.com/Ashutosh-Badave/2.UAV_Motion_Planning.git
[submodule "4.EKF_estimator_for_Drone"]
	path = 4.EKF_estimator_for_Drone
	url = https://github.com/Ashutosh-Badave/4.EKF_estimator_for_Drone.git
[submodule "3.Controller_for_drone"]
	path = 3.Controller_for_drone
	url = https://github.com/Ashutosh-Badave/3.Controller_for_drone.git
